body {
    .accordion {
        .accordion-item {
            .accordion-collapse {
                .accordion-body {
                    .container {
                        form {
                            .mb-3 {
                                .form-label {
                                    font-weight: 350;
                                }
                                .small {
                                    opacity: 0.5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-container {
        position: fixed;
        bottom: 3em;
        right: 2em;
    }
    #message-center-container {
        display: flex;
        flex-direction: column;
        .messages-text-container {
            background-color: rgba(128, 128, 128, 0.13);
            margin: 1em 0em;
            min-height: 5vh;
            border-radius: 0.15em;
            tr {
                td {
                    padding: 0.5em;
                }
                .email-cell {
                    font-weight: 600;
                    color: blue;
                    text-align: left;
                }
                .message-cell {
                    font-style: italic;
                    color: rgb(84, 175, 84);
                    text-align: right;
                }
                .timestamp-cell {
                    color: rgb(165, 123, 99);
                    text-align: left;
                }
            }
        }
        .messages-btn {
            margin-top: 1.2em;
            align-self: flex-end;
        }
    }
}
